# This sample .env file contains some basic options to get you started.

REACT_APP_JITSI_FQDN=meet.jit.si
REACT_APP_JWT_ENDPOINT_URL=http://localhost:8081
REACT_APP_ROOM_PREFIX=videotest
REACT_APP_DEFAULT_CALLBACK_URL=http://localhost:3000

###### optional and only for debug purposes
#REACT_APP_DEBUG_JITSI_JWT=

