window.customConfig = {
    // "REACT_APP_JITSI_FQDN": "meet.jit.si",
    // "REACT_APP_JWT_ENDPOINT_URL": "http://localhost:8081/{roomName}",
    // "REACT_APP_ROOM_PREFIX":"videotest",
    // "REACT_APP_DEFAULT_CALLBACK_URL":"http://localhost:8080",
    // "REACT_APP_ALLOWED_CALLBACK_URLS":"http://localhost:3000,https://localhost:3000",
    // "REACT_APP_DEBUG_JITSI_JWT": ""
}